header.header
	.container
		.header-main
			// logo
			a(href="#")
				img(src="img/logo/logo.png" alt="logo")


			//wrapper for nav and btn
			div.header-action
				// menu
				nav
					ul.header-menu
						li.header-menu__link
							a(href="#") Explore
						li.header-menu__link
							a(href="#") Creators
						li.header-menu__link
							a(href="#") Community


				// action button
				button.header-btn Connect Wallet
